#header {
    background: var(--dark-blue);
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 10px 0 rgba(0, 0, 0, 0.25));
    padding: 24px 100px;
    z-index: 999;
}

#header div {
    display: flex;
    align-items: center;
    gap: 60px;
}

#header nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

#header nav a {
    color: var(--white);
    font-weight: 700;
    -webkit-text-stroke: 4px var(--black);
    paint-order: stroke fill;
    position: relative;
    transition: 0.1s;
}

#header nav a:not(:last-child):hover:before {
    content: url('../sprites/sprites-ow/sprite-pointer.png');
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    left: -35px;
    /* image-rendering: pixelated; */
}
 
.btn-menu-header {
    font-family: "Jersey 20", sans-serif;
    letter-spacing: 2px;
    background: var(--clear-blue);
    padding: 10px 20px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.25));
    border: none;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.3s;
    display: none;
}

.btn-menu-header:hover {
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.dark-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    animation: fadeIn 0.3s ease forwards;
    overflow: hidden;
}

.menu-mobile {
    background: var(--dark-blue);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    gap: 40px !important;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    animation: slideIn 0.3s forwards;
    position: relative;
}

.menu-mobile nav {
    display: flex;
    flex-direction: column;
    gap: 40px !important;
    padding: 40px 0;
}

.menu-mobile nav a {
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--clear-blue);
    color: var(--black);
    padding: 5px 10px 9px 12px;
    line-height: 28px;
    border: none;
    font-size: 28px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Jersey 20", sans-serif;
    font-weight: 700;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.25));
    opacity: 0.8;
}

.close-btn:hover {
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.hide-characters {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
  }
    to {
        transform: translateX(0%);
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
  }
    to {
        opacity: 1;
  }
}

.menu-mobile.closing {
    animation: slideOut 0.3s forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
  }
    to {
        transform: translateX(100%);
  }
}

@media (max-width:1070px) {
    #header > div > nav {
        display: none;
    }

    .btn-menu-header {
        display: flex;
    }
}

@media (max-width:650px) {
    #header {
        padding: 24px 40px;
    }

    #header > a {
        font-size: 32px;
    }

    .btn-menu-header {
        padding: 8px 16px;
    }
}