#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    width: 100%;
    height: 90vh;
    background-image: url('../sprites/sprites-ow/sprite-cloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

#hero h1 {
    -webkit-text-stroke: 20px var(--bright-blue);
}

.hero-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px 0 20px;
}

.hero-exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    -webkit-text-stroke: 10px var(--white);
    paint-order: stroke fill;
    font-weight: 700;
}

.hero-images {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 20px;
}

.sprite-full {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.hero-images img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.extra-bg {
    background: var(--clear-pink);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 200px 100px;
}

#about {
    position: relative;
}

#about h2 {
    position: absolute;
    top: -35px;
    color: var(--black);
    -webkit-text-stroke: 5px var(--white);
    paint-order: stroke fill;
}

.hero-desc {
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
    color: var(--black);
    border: 5px solid var(--black);
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.25));
    border-style: outset;
    border-width: 5px;
    border-color: var(--black);
}

#character-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    pointer-events: none;
    transition: transform 0.1s linear, opacity 0.2s ease;
    opacity: 0;
    z-index: 20;
}

.character {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

#bg-separator {
    background: linear-gradient(
    to right,
        var(--clear-green) 0% 40%,
        var(--clear-pink) 40% 60%,
        var(--clear-green) 60% 100%
    );
    width: 100%;
    text-align: center;
    color: var(--black);
}

#bg-separator div {
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
    color: var(--black);
    border: 5px solid var(--black);
    border-style: outset;
    border-color: var(--black);
    width: 100%;
    height: 90%;
    filter: drop-shadow(0 10px 0 rgba(0, 0, 0, 0.25));
}

#ed-background {
    position: relative;
    width: 100%;
    height: 700px;
}

.bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: url('../sprites/sprites-ow/sprite-grass.png') top right repeat, var(--clear-green);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.bg-center {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 100%;
    background: var(--clear-pink);
}

.bg-right {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    background: url('../sprites/sprites-ow/sprite-grass.png') top left repeat, var(--clear-green);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.ed {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.8));
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.ed-1 {
    background-image: url('../sprites/sprites-ed/sprite-origamid.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ed-2 {
    background-image: url('../sprites/sprites-ed/sprite-google.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ed-3 {
    background-image: url('../sprites/sprites-ed/sprite-scrum.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ed-4 {
    background-image: url('../sprites/sprites-ed/sprite-toledo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ed:hover {
    transform: scale(1.1);
}

.color-gray {
    background: var(--gray);
}

.ed-popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
    scroll-behavior: unset;
}

.ed-popup {
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    color: var(--black);
    border: 5px solid var(--black);
    border-style: outset;
    border-color: var(--black);
    max-width: 500px;
    max-height: 600px;
    margin: 20px;
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.25));
    animation: fadeIn 0.3s ease;
}

.ed-popup button {
    z-index: 99;
}

.ed-popup img {
    max-width: 100%;
    border-radius: 8px;
    height: 200px;
    background-size: cover;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.25));
}

.ed-popup h3 {
    line-height: 22px;
}

.tags {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.tags span {
    background:var(--clear-blue);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
}

.popup-link {
    width: 100px;
    color: var(--bright-blue);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.popup-link:hover {
    color: var(--clear-blue);
    text-decoration: underline;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@media (max-width:1000px) {
    .extra-bg {
        flex-direction: column;
        gap: 0;
        padding: 120px 20px 80px 20px;
    }
}

@media (max-width:650px) {
    #hero {
        height: 80vh;
    }

    #hero h1 {
        font-size:60px;
        -webkit-text-stroke: 12px var(--bright-blue);
    }

    #hero p {
        font-size:28px;
        -webkit-text-stroke: 8px var(--white);
    }

    .hero-selection {
        padding: 40px 20px;
    }

    .hero-selection p {
        font-size: 16px;
    }

    #bg-separator > div > h2 {
        font-size: 24px;
    }

    .ed-popup {
        padding: 40px 20px;
    }

    #player, #cat {
        width: 50px;
        height: 50px;
        image-rendering: unset;
    }
}