@import "./assets/css/Header.css";
@import "./assets/css/Sections.css";
@import "./assets/css/Footer.css";

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
}