@import "./assets/css/Header.css";
@import "./assets/css/Sections.css";
@import "./assets/css/Footer.css";
@import "./assets/css/About.css";
@import "./assets/css/Projects.css";

:root {
    --dark-blue: #53528C;
    --clear-pink: #FFE7C5;
    --clear-blue: #9394fe;
    --clear-green: #65A49B;
    --bright-yellow: #FFDE00;
    --bright-blue: #0163C6;
    --clear-gray: #dedede;
    --gray: #949494;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background: var(--clear-pink);
}

* a:visited {
    color: inherit;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.font-primary {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--bright-yellow) !important;
    -webkit-text-stroke: 10px var(--bright-blue);
    paint-order: stroke fill;
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.25));
}

.text-size-96 {
    font-size: 96px;
}

.text-size-46 {
    font-size: 46px;
}

.text-size-32 {
    font-size: 36px;
}

.text-size-20 {
    font-size: 20px;
}

.text-size-16 {
    font-size: 16px;
}

.padding-100 {
    padding: 0 100px;
}

.bold {
    font-weight: 700;
}

.div-themed {
    background: var(--white);
    padding: 20px 40px;
    color: var(--black);
    border: 5px solid var(--black);
    border-style: outset;
    border-color: var(--black);
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.25));
}

.scroll-to-section {
    scroll-margin-top: 200px;
}

.chest {
    margin: 0 0 10px 0;
    background-image: url('./assets/sprites/sprites-ow/sprite-chest-closed.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
    transition: 0.1s;
}

.chest:hover {
    background-image: url('./assets/sprites/sprites-ow/sprite-chest-open.png');
}